@media(max-width:995px) {
    .barra {
        position: top;
        display: flex;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #800020;
        border-bottom: 3px solid #800020;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #800020;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    .barra {
        display: block;
        font-size: 2rem;
    }

    .barra a:hover {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #D2B48C;
    }
}

@media (max-width: 1000px) {
    .principal {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .principal {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .principal .principal-texto h3 {
        font-size: 2.5rem;
    }

    .principal-texto h1 {
        font-size: 5rem;
    }

    .perfil img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .skills-content ul {
        grid-template-columns: 1fr;
    }
}