.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #D2B48C;
    font-size: 2rem;
    border-radius: 10px;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.4s ease;
    color: #D2B48C;
}

.social a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #D2B48C;
    box-shadow: 0 0 25px #D2B48C;
}

.botão {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 10px;
    font-size: 1.6rem;
    color: #D2B48C;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #D2B48C;
    transition: 0.3s ease;
    cursor: pointer;
}

.botão:hover {
    transform: scale3d(1.03);
    background-color: #D2B48C;
    color: black;
    box-shadow: 0 0 25px #D2B48C;
}